:root {
    --displayfont: 'Righteous', cursive;
    --scriptfont: 'Roboto', sans-serif;
    --maincolor: #ff4791;
    --brightcolor: #ffffff;
    --graycolor: #808080;
    --darkcolor: #2e2e2e;
    --bgcolor: #efefef;
    --errcolor: #e73737;
}

* {
    box-sizing: border-box;
    font-family: var(--scriptfont);
    font-weight: 400;
}

#root {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: var(--bgcolor);
}